body {
  background-color: transparent; /* O el color de fondo detrás del marco */
  font-family: Arial, Helvetica, sans-serif;
}

/*Marco de toda la página*/
.contenedor-principal {
  width: 80%; /* Ajusta el ancho según necesites */
  margin: 0 auto; /* Centra el contenedor principal horizontalmente */
  background-color: #fff; /* El color de fondo de tu contenido principal */
  padding-left: 50px; /* Define el ancho del marco izquierdo (transparente) */
  padding-right: 50px; /* Define el ancho del marco derecho (transparente) */
  box-sizing: border-box; /*el alto y el ancho del elemento incluye el padding y el border*/
  min-height: 100vh; /* Altura mínima para cubrir la pantalla */
}

/* Header: logo and menu style */
.flex-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;/* Alinea los ítems al inicio del eje principal (izquierda) */
  background-color: #ffffff;
}

a { /*quitamos todos los underline de los enlaces*/
  text-decoration: none;
}

.flex-container > div { /* Container for flexboxes */
  margin: 10px;
  line-height: 20px;
  font-size: 14px;
}

img.logo {
  align-self: baseline;
  vertical-align: text-bottom;
}

.navLogo {
  width:55%;
}

.navLinks {
  width:10%;
  align-self: center;
}
.navLinks > a { /*enlaces <a> que son hijos directos de elementos con la clase navLinks*/
  color: grey;
}

.navButton {
  width:15%;
  align-self: center;
  text-align: left;
}

.buttonLogin {
  background-color: #aa3304; 
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;/*allow to set a width and height on the element con los elementos uno al lado del otro*/
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Central container for flexboxes: 2 columns */
.contenedor-central {
  display: flex;
}

.column-1, .column-2 { 
  flex: 1;/*ambas columnas ocupan el mismo espacio disponible (50% del ancho cada una) independientemente de su contenido*/
}

.column-1 {
  display: flex;
  flex-direction: column;
}

/*columna 1: Browser Buttons*/
#title {
  font-size: 60px;
}

#text { 
  color: grey; /*color para textos descriptivos*/
  font-size: 25px;
}

.buttons-container { 
  display: flex;
  gap: 10px; /*Establece espacio entre botones*/
}

.button {
  background-color: #3F47CC; 
  border-style: solid;
  border-width: 2px;
  border-radius: 0.25rem;
  padding: 14px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.btnGoogle {
  background-color: #3F47CC; 
  color:white;
  border-color: #3F47CC;
}

.btnGoogle:hover {
  background-color: white;
  color:#3F47CC;
}

.btnFirefox {
  background-color: grey; 
  color: black;
  border-color: grey;
}

.btnFirefox:hover {
  background-color: white;
  color: grey;
}

/*columna 2*/
.superpuestas { 
  position: relative;
  width: 100%; /* ajusto si quiero limitar el tamaño */
  height: 400px; 
}

.imagen-fondo {
  position: absolute;/*posición respecto a la relativa*/
  top: 130px;        /* Desplazo hacia abajo */
  left: 180px;       /* Desplazo hacia la derecha */
  width: 70%;        /* Tamaño */
  z-index: 1;        /* orden de apilamiento: la cantidad menor queda detrás*/
  opacity: 0.8;
  /*border: 2px solid red; borde rojo solo para pruebas */
}

.imagen-frontal {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 0 auto;
  display: block;
}